# see examples https://github.com/facebookresearch/ParlAI/blob/main/parlai/chat_service/tasks/chatbot/config.yml
# botConfig: {}
  # tasks:
  #   default:
  #     onboard_world: MessengerBotChatOnboardWorld
  #     task_world: MessengerBotChatTaskWorld
  #     timeout: 1800
  #     agents_required: 1
  # task_name: chatbot
  # world_module: parlai.chat_service.tasks.chatbot.worlds
  # overworld: MessengerOverworld
  # max_workers: 30
  # opt:
  #   debug: True
  #   models:
  #     blender_90M:
  #       model: transformer/generator
  #       model_file: zoo:blender/blender_90M/model
  #       interactive_mode: True
  #       no_cuda: True

# Data is currently stored on the worker node
storage:
  # Useful if you want to avoid downloading models every times
  size: 20Gi
  # parlai stores its data here, in the virtual environment of the container
  path: /opt/venv/lib/python3.8/site-packages/data

replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/tls-acme: "true"
  className: "nginx"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          backend:
            serviceName: chart-example.local
            servicePort: 80
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

monitoring:
  logs:
  # TODO: https://github.com/timberio/vector see https://github.com/vectordotdev/vector/issues/768 or side car
  metrics:
    # https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
    prometheusOperator:
      enabled: false
      releaseName: prom # SHOULD BE THE PROM OPERATOR CLUSTER RELEASE CHART NAME
    stackdriverProjectId: ""
    prometheusPort: 9090
